[Unit]
Description=Driver for e-ink display

[Service]
Type=simple
WorkingDirectory=/home/abulujayn/clock
ExecStart=/usr/bin/python /home/abulujayn/clock/main.py
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
